{% extends "index.html" %}

{% block content %}
<div class="content_about">
    <div class="IEEE_about">
        <h class="about_ieee_title">IEEE</h>
        <div class="mission">
            <h class="mission_title">Mission</h>
            <h class="mission_content">IEEE's core purpose is to foster technological innovation and excellence for the benefit of humanity.</h>
        </div>
        <div class="vision">
            <h class="vision_title">Vision</h>
            <h class="vision_content">IEEE will be essential to the global technical community and to technical professionals everywhere, and be universally recognized for the contributions of technology and of technical professionals in improving global conditions.</h>
        </div>
        
    <div class="PES_about">
        <h class="about_pes_title">Power and Energy Society</h>
        <div class="pes_mission">
            <h class="pes_mission_title">Mission</h>
            <h class="pes_mission_content">To be the leading provider of scientific and engineering information on electric power and energy for the betterment of society, and the preferred professional development source for our members ~ Approved by the IEEE PES Governing Board, 17 July 2003</h>
        </div>
        <div class="pes_vision">
            <h class="pes_vision_title">Vision</h>
            <h class="pes_vision_content">Develops standards and empowers development of technology, software, and best practices in all areas of electric power and energy including generation, transmission, distribution and utilization to provide a reliable, resilient, safe, cost-effective and sustainable AC and DC electricity supply system to the end-user. PES focuses on current power system infrastructures and technological advancements in energy resources, smart grid and smart cities for the betterment of society. (Approved February 2018 by IEEE Technical Activities Board)</h>
        </div>
        
    </div>

</div>
{% endblock %}