{% extends "index.html" %}

{% block content %}
<div class="events_container">
  <h2 class="events_heading">Events Archive</h2>
  
  <!-- Form for year selection -->
  <div class="years">
    {% for i in range(2025,2021,-1) %}
      <div class="year">
        <form action="/events_list" method="POST" class="year_form">
          <button name="events_list" type="submit" value="{{i}}" class="year_button">
            {{i}}
          </button>
        </form>
        
        {% if i in year %}
          <div class="event_data">
            {% for j in data[i] %}
              <div class="event_name">
                <form action="/events_list" method="POST">
                  <button class="event_name_button" name="event_data" type="submit" value="{{i}},{{loop.index}}">
                    {{j}}
                  </button>
                </form>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}