{% extends "index.html" %}
{% block content %}
<table class="table">
    <tr class="table_head">
      <th>SL</th>
      <th>Name</th>
      <th>Position</th>
      <th>Year</th>
      <th>Department</th>
    </tr>
    <tbody>
    {% for member in members %}
    {% set member_index = loop.index %}
    <tr class="table_row" style="cursor: pointer;" onclick="document.getElementById('form-{{ member_index }}').submit();">
        <td class="table_value">{{ member_index }}</td>
        {% for i in member %}
        <td class="table_value">{{ i }}</td>
        {% endfor %}
        <form id="form-{{ member_index }}" action="/list_members" method="POST" style="display:none">
            <input type="hidden" name="members" value="{{ member_index }}">
        </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}